---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

body {
    /* margin: 0; */
    font-family: serif;
    background-color: #ffe6e8;
}
div.pagecontents {
    margin: 20px auto 0px auto;
    max-width: 650px;
    line-height: 1.5;
    font-size: 19px;
    padding: 10px;
}
div.post-date {
    display: inline-block;
    float: right;
    padding-left: 10px;
    padding-right: 20px;
}
h1, h2, h2 {
    line-height: 1.5;
}
a:link {
  color: #0b7a75;
}
a:visited {
  color: #545e75;
}
a:hover {
  color: #63adf2;
}
aside {
    margin-top: -20px;
    margin-bottom: -10px;
    margin-left: 20px;
    font-style: italic;
}
code, pre {
    max-width: 650px;
}
pre {
    overflow: auto;
    word-wrap: normal;
    white-space: pre;
    display: block;
    padding: 15px;
}
div.footnotes ol {
    padding-left: 0;
}
footer hr {
    margin-top: 40px;
}
/* Inline code */
p code, li code {
    color: green;
}
table {
  margin: 15px 0;
  padding: 0; }
  table tr {
    border-top: 1px solid #cccccc;
    background-color: white;
    margin: 0;
    padding: 0; }
    table tr:nth-child(2n) {
      background-color: #f8f8f8; }
    table tr th {
      font-weight: bold;
      border: 1px solid #cccccc;
      text-align: left;
      margin: 0;
      padding: 6px 13px; }
    table tr td {
      border: 1px solid #cccccc;
      text-align: left;
      margin: 0;
      padding: 6px 13px; }
    table tr th :first-child, table tr td :first-child {
      margin-top: 0; }
    table tr th :last-child, table tr td :last-child {
      margin-bottom: 0; }

      
/* 
 * Matteo Nicoli, April 2020 ~ Navigation Bar style 
 */

ul.list 
{
  list-style-type: none; /* if you wanto to view the points set `disc` */
  padding: 0;
}

li.listitem 
{
  padding: 5px 10px;
  border-bottom: 1px solid #DDDDDD;
}

ul.nav
{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: transparent;
}
  
li.navitem
{
    float: left;
}
  
li a.menu
{
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    user-select: none; 
    -webkit-user-select: none; 
    -moz-user-select: none; 
    -ms-user-select: none;
}
  
li a.menu:hover
{
    border-radius: 10px;
    background-color: pink;
}