body {
    background-color: #ffc6d9;
}

.content
{
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  height: 60px;
  width: 800px;
  text-align: center;
  font-size: large;
}

a:link {
  color: #9c89b8;
}

a:visited {
  color: #357266;
}

a:hover {
  color: #b8bedd;
}
