body {
    background-color: #ffe6e8;
}

.content
{
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  height: 60px;
  width: 800px;
  text-align: center;
  font-size: 19px;
  line-height: 1.5;
}

a:link {
  color: #0b7a75;
}
a:visited {
  color: #545e75;
}
a:hover {
  color: #63adf2;
}
